<?xml version="1.0" encoding="utf-8" ?>
<configurations>
    <weights>
        <type name="tradegoods">
            <subtype name="">
                <item id="0" name="default" weight="0" />
            </subtype>
        </type>

        <type name="consumables">
            <subtype name="">
                <item id="0" name="default" weight="0" />
            </subtype>
        </type>

        <type name="armor">
            <subtype name="">
                <item id="0" name="default" weight="0" />
            </subtype>
            <subtype name="miscellaneous">
                <item id="0" name="default" weight="0" />
            </subtype>
        </type>

        <type name="gems">
            <subtype name="">
                <item id="0" name="default" weight="0" />
            </subtype>
            <subtype name="red">
                <item id="0" name="default" weight="0" />
            </subtype>
            <subtype name="blue">
                <item id="0" name="default" weight="0" />
            </subtype>
            <subtype name="yellow">
                <item id="0" name="default" weight="0" />
            </subtype>
            <subtype name="orange">
                <item id="0" name="default" weight="0" />
            </subtype>
            <subtype name="green">
                <item id="0" name="default" weight="0" />
            </subtype>
            <subtype name="purple">
                <item id="0" name="default" weight="0" />
            </subtype>
        </type>

        <type name="misc">
            <subtype name="">
                <item id="0" name="default" weight="0" />
            </subtype>
        </type>

        <type name="projectiles">
            <subtype name="">
                <item id="0" name="default" weight="0" />
            </subtype>
            <subtype name="arrow">
                <item id="0" name="default" weight="0" />
            </subtype>          
        </type>
    </weights>

</configurations>